.sidebar .side-menu nav .nav > li > a:after {
    content: none !important;
}

.limit-character-category {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.field-error {
    border-color: red !important;
}

.block-error {
    display: block;
    margin: 0px;
    padding: 0px;
}
.message-error {
    font-size: 12px;
    list-style: none;
    color: #f16c69;
    margin-top: 5px;
}

.mini-cart-img {
    width: 80px;
    position: relative;
    margin-right: 20px;
}

.mini-cart-img img {
    width: 100%;
}
.cart-shop-now {
    background-color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
}
.cart-shop-now:hover {
    background-color: #985f0d;
    color: white;
}

tbody ul {
    padding-left: 10px;
}

tbody li {
    list-style: none;
}
